<ul>
  <li><a href="#">Nevada Half</a></li>
  <li>+</li> {{!-- I want to move these to css before properties as they are decorative --}}
  <li><a href="#">Canelian Bay Half</a></li>
  <li>+</li>
  <li><a href="#">Emerald Bay Half</a></li>
  <li>=</li>
  <li><a href="#">The Tahoe Trifecta</a></li>
</ul>