<div class="clock">
  <span class="clock__numbers">115</span>
  <span class="clock__numbers">17</span>
  <span class="clock__numbers">08</span>
  <span class="clock__numbers">28</span>
  <span class="clock__date clock__date--first">Days</span>
  <span class="clock__date">Hours</span>
  <span class="clock__date">Mins</span>
  <span class="clock__date clock__date--last">Secs</span>
</div>