<nav>
    <ul>
      <li><a href="#">Nevada Half</a></li>
      <li>+</li> {{!-- I want to move these to css before properties as they are decorative --}}
      <li><a href="#">Canelian Bay Half</a></li>
      <li>+</li>
      <li><a href="#">Emerald Bay Half</a></li>
      <li>=</li>
      <li><a href="#">The Tahoe Trifecta</a></li>
    </ul>

    <ul>
      <li><a href="#">Lakeside Marathon</a></li>
      <li>+</li>
      <li><a href="#">Cal Neva Marathon</a></li>
      <li>+</li>
      <li><a href="#">Lake Tahoe Marathon</a></li>
      <li>=</li>
      <li><a href="#">The Tahoe Triple</a></li>
    </ul>

    <ul>
      <li><a href="#">4-Person Marathon Relay</a></li>
      <li><a href="#">4-Person 72-Mile Ultra Relay</a><li>
      <li><a href="#">Tahoe Double Marathon</a><li>
      <li><a href="#">Super Hero 5K</a><li>
      <li><a href="#">Edgewood 10K</a><li>
      <li><a href="#">16.4M</a><li>
      <li><a href="#">72M-Ultra Midnight Express</a><li>
      <li><a href="#">Optimist Kids Free Pumpkin Runs</a><li>
    </ul>

    <ul class="more">{{!-- there are drop downs her I havent got to yet --}}
      <li><a href="#">Home</a><li>
      <li><a href="#">Race Swag</a><li>
      <li><a href="#">Details</a><li>
      <li><a href="#">Time Line of Events</a><li>
      <li><a href="#">Covid-19 Update</a><li>
      <li><a href="#">Multiday Events</a><li>
      <li><a href="#">Expo &amp; Bib Pick Up</a><li>
      <li><a href="#">MOM</a><li>
      <li><a href="#">For Visitors</a><li>
      <li><a href="#">Results</a><li>
      <li><a href="#">Contacts Us</a><li>
    </ul>
  </nav>