<aside class="sign-up-form">
  <h3>Sign up to stay in touch!</h3>
  <p>Interesting news and updates delivered to your inbox.</p>{{!-- this is repetative --}}

  <form>
    <label for="email">* Email Address</label>
    <input type="email">

    <label for="name">Name</label>
    <input type="text">

    <button>Sign Up</button>

    <p>By submitting this form, you are granting: Lake Tahoe Marathon, PO Box 20,000, South Lake Tahoe, California, 96151, United States, http://www.runtahoe.com permission to email you. You may unsubscribe via the link found at the bottom of every email. (See our Email Privacy Policy for details.) Emails are serviced by Constant Contact.</p>
  </form>
</aside>