<div class="title">
  <h1><a href="#">
    <span class="middle">Lake Tahoe Marathon +</span>
    <span class="top h2">Tahoe Blue Vodka's</span>
    <span class="bottom h2">October 8-10, 2021</span>
  </a></h1>
</div>