<div class="title">
  <h1><a href="#">Lake Tahoe Marathon +</a></h1> {{!-- needs a flex so this is first --}}
  <h2 class="top"><a href="#">Tahoe Blue Vodka's</a></h2>
  <h2 class="bottom"><a href="#">October 8-10, 2021</a></h2>
</div>