header {
  background: #007b9ae6; /* variable this */
  color: var(--tahoe-white);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

header a {
  color: var(--tahoe-white);
}

header a:hover {
  color: hsl(var(--tahoe-white-hs), calc(var(--tahoe-white-l) - 10%));
}

header nav ul {
  margin-block: 0;
  max-width: var(--page-width);
  margin-inline: auto;
  padding-left: 0; // browser reset
}

header .more > li {
  border-color: var(--tahoe-white);
}

.no-link {
  margin-inline-end: 0.55rem;
}

header button {
  background: var(--tahoe-yellow);
  color: black;
  width: max-content; // this is a pattern lab check if it should be everywhere
  margin-inline: auto;
}

header button:hover {
  background: hsl(var(--tahoe-yellow-hs), calc(var(--tahoe-yellow-l) - 10%));
}

.title a {
  display: flex;
  flex-direction: column;
  font-family: "anton", sans-serif;
  margin-block-start: 1rem;
  
  @media (min-width: 30rem) {
    margin-block-start: 2rem;
  }
}

.title a {
  text-decoration: none;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.title a:hover {
  text-decoration: underline;
}

.title h1 {
  @media (max-width: 30rem) {
    font-size: 1.953rem;
  }

  order: 2;

  a {
    color: var(--tahoe-yellow);
  }

  .top, .bottom {
    color: var(--tahoe-white);
  }

  a:hover .top,
  a:hover .bottom {
    text-decoration: underline;
    text-decoration-color: var(--tahoe-white);
  }
}

.title :is(h1, h2, h3, h4, h5, h6) {
  // margin-block-end: 0.5rem;
  margin-block-end: 0;
}

.title a > .top {
  order: 1;
}

.title a > .middle {
  order: 2;
}

.title a > .bottom {
  order: 3;
}


nav > ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: baseline;
}

nav > ul > li {
  list-style: none;
  font-size: 0.9rem; /* fit on a line */
}

.more {
  margin-block-end: 0;
}

.more > li {
  border-right: 1px solid black;
  font-size: 0.8rem; /* p */

  a {
    margin-inline-start: 0.5rem;
  }
}

.more > li:last-child,
.more > li:nth-last-child(2) {
  border-right: none;
}

.header-as-is {
  display: flex;
  flex-flow: row wrap;
  max-width: var(--page-width);
  margin-inline: auto;
  justify-content: space-between;
  gap: 1rem;
}

.nav__highlight {
  background: var(--tahoe-yellow);
  color: black;
  border-radius: 4px;
  margin-left: 0.5rem;
}

.nav__highlight:hover {
  // @extend header button:hover;
  background: hsl(var(--tahoe-yellow-hs), calc(var(--tahoe-yellow-l) - 10%));
}

.more--slim {
  background: var(--tahoe-white);
  max-width: 100vw;

  li {
    font-size: 0.8rem;

    a {
      color: black;
    }
  }
}