:root {
  --tahoe-white: hsl(49, 100%, 100%); /* #fffffe */
  --tahoe-yellow: hsl(49, 100%, 50%); /* #ffd000 */
  --tahoe-blue: hsl(192, 100%, 30%); /* #007b9a  */
  --page-width: 80rem; /* 1280px guess and check */
  --measure: 40rem; /* 640px guess and check */

  --tahoe-yellow-hs: 49, 100%;
  --tahoe-yellow-l: 50%;

  --tahoe-blue-hs: 192, 100%;
  --tahoe-blue-l: 30%;

  --tahoe-white-hs: 49, 100%;
  --tahoe-white-l: 100%;
}

/* https://type-scale.com/ */
/* 1.250 major third */
body {
  line-height: 1.5; /* 24px baseline font */
}

p {
  margin-block-start: 0;
  margin-block-end: 1rem;
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
  line-height: 1.3;
}

h1 { font-size: 3.052rem;}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

small, .text_small {font-size: 0.8rem;}

/* end of type scale */


body {
  background: hsl(var(--tahoe-white-hs), calc(var(--tahoe-white-l) - 15%));
  margin: 0; /* browser reset */
  font-family: sans-serif;
  font-size: 16px;
}

a {
  color: black;
  margin: 0.25rem 0.5rem;
  padding: 0.25rem 0.25rem 0 0.25rem;
  display: inline-block;
}

a:hover {
  background: hsla(0, 0%, 80%, 0.5);
  border-radius: 4px;
}

li > a {
  margin-inline-start: 0;
}





h1 {
  margin-top: 0; /* browser reset */
}



button {
  background: var(--tahoe-blue);
  color: var(--tahoe-white);
  font-size: 1.25rem; /* h5 */
  margin: 0.5rem 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
}

button:hover {
  background: hsl(var(--tahoe-blue-hs), calc(var(--tahoe-blue-l) - 10%));
  color: hsl(var(--tahoe-white-hs), calc(var(--tahoe-white-l) - 10%));
}

iframe {
  max-width: 100%;
}

.hero {
  max-width: var(--page-width);
  margin-inline: auto;
  display: grid;
  margin-block-end: 3rem;

  > * {
    grid-row: 1;
    grid-column: 1;
  }

  > h2 {
    background: #007b9ae6;
    color: var(--tahoe-white);
    text-align: center;
    padding: 1rem 1.5rem;
    align-self: end;
    justify-self: end;
    margin-block-end: 1rem;
    font-size: 1.25rem;

    @media (min-width: 30rem) {
      font-size: 2.441rem;
    }
  }
}

img {
  width: 100%;
  display: block;
}

.sign-up-form {
  background: var(--tahoe-white); /* this should probably be above */
  max-width: var(--measure);
  margin-inline: auto;
  padding: 1rem 1.5rem;
  margin-block-end: 3rem;
}

form {
  display: flex;
  flex-direction: column;

  button {
    width: max-content;
  }
}

footer {
  background: var(--tahoe-blue);
  color: var(--tahoe-white);

  a {
    color: var(--tahoe-white);
    margin-block: 0;
  }

  .thanks {
    padding-block-start: 3rem;
    max-width: var(--measure);
    margin-inline: auto;
    text-align: center;
  }

  .contact {
    display: flex;
    flex-direction: column;
    max-width: var(--measure);
    margin-inline: auto;
  }
  .copy {
    max-width: var(--measure);
    margin-inline: auto;
    margin-block-end: 3rem;
  }

  h4 {
    text-align: center;
    padding-block: 3rem;
    background: hsl(var(--tahoe-blue-hs), calc(var(--tahoe-blue-l) - 10%));
    
    a {
      color: var(--tahoe-yellow);
    }
  }
}

.main__second {
  max-width: var(--page-width);
  margin-inline: auto;
  background: var(--tahoe-white);
  padding: 1.5rem;
  display: flex;
  flex-flow: row wrap;

  > * {
    flex: 1 1 10rem;
  }
}

.sponsors-slider {
  max-height: 10rem;
  margin-block-end: 3rem;
  display: flex;
  flex-flow: row nowrap;
  max-width: 100%;
  overflow-x: hiddenr;
  gap: 1rem;
  justify-content: space-around;
  width: 100%;
  
  > * {
    background: white; /* purpose true white */
  }
}

@import "clock";
@import "header";
@import "the-tabs";
@import "tables";

.page {
  background: var(--tahoe-white);
  padding: 1.5rem;
  margin-inline: auto;
  max-width: var(--page-width);
  display: flex;
  flex-flow: row wrap;
  grid-gap: 2rem;

  > * {
    flex: 1 1 30rem;
  }

  section {
    max-width: var(--measure);
  }

  img {
    object-fit: cover;
  }
}

.listed {
  li {
    border-bottom: 1px solid lightgray;
  }
}

// not working yet
.listed li:lastchild {
  border-bottom: none;
}