<footer>
  <h3 class="thanks">Thank you to our sponsors:</h3>
  <div class="sponsors-slider">
    <img src="#" alt="sponsors logo" />
    <img src="#" alt="sponsors logo" />
    <img src="#" alt="sponsors logo" />
    <img src="#" alt="sponsors logo" />
    <img src="#" alt="sponsors logo" />
    <img src="#" alt="sponsors logo" />
    <img src="#" alt="sponsors logo" />
  </div>

  <section class="contact">
    <p>Les Wright<br />
    Phone <a href="#">(530) 559-2261</a><br />
    Email <a href="#">leswright@sbcglobal.net</a><br />
    P.O. Box 20000<br />
    South Lake Tahoe, CA 96151</p>
  </section>

  <p class="copy">&copy; 2021 Lake Tahoe Marathon, All Rights Reserverd</p>

  <h4><a href="#">Join us on Maui January 16, 2022 14th Maui Oceanfront Marathon</a></h4>
</footer>