<header>
  {{> molecules-title }}

  <div class="header-as-is"> {{!-- I dont like this but Im not redesigning at this point --}}
    {{!-- {{> molecules-clock }} --}}
    <div><button>Register Here</button></div>
  </div>
  
  {{> molecules-nav }}
</header>