<main>
  <section class="hero">
    <img src="../../images/cameron-venti-I1EWTM5mFEM-unsplash.jpg" alt="slider" />
    <h2>Come Run With Us October 8-10, 2021</h2> {{!-- needs small spaces --}}
  </section>

  <div class="the-tabs">
    <section>
      <img src="../../images/cameron-venti-I1EWTM5mFEM-unsplash.jpg" alt="racers" /> {{!-- should this be below symantically --}}
      <h3>Timeline of Events</h3>
      <p>Our boutique races run on Friday, Saturday, and Sunday where everyone knows your name. Lots to choose from: run the Friday Lakeside Marathon or the spectacular all downhill Nevada Half Marathon.</p>
      <p>On Saturday choose the Cal-Neva Marathon or the Carnelian Bay Half Marathon and on Sunday you get the 26th Lake Tahoe Marathon or the spectacular downhill Emerald Bay Half Marathon.</p>
      <p>Plus much more including the Midnight Express 72-mile Ultra, 4-Person Marathon Relay,  16.4 Miler, the Edgewood 10K, the Super Hero 5K as well as the Kids Free Pumpkin Run.</p>
      <p>And it all comes with the spectacular scenery of Lake Tahoe with Fall colors and the best aid stations you will ever enjoy. Bring your friends for 3 days of running fun.</p>
    </section>

    <section>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/cWwpkOZbswc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Timeline of Events</h3>
      <ul>
        <li><a href="#">See the 2019 LTM Video</a></li>
        <li><a href="#">See the 2018 LTM Video</a></li>
        <li><a href="#">See the 2017 LTM Video</a></li>
        <li><a href="#">See the 2016 LTM Video</a></li>
      </ul>
    </section>

    <section>
      <img src="../../images/cameron-venti-I1EWTM5mFEM-unsplash.jpg" alt="lineup" />
      <h3>Nags from the Ring Master</h3>
      <p>Join us for our 26th Lake Tahoe Marathon +</p>
      <p>This year we will be honoring Firemen, Police, and EMT's. All active Firemen, Police and EMT's may enter the a Half, Marathon or Ultra for $60/event. You will need to show your Active  ID. 
      (The last two years we honored nurses and teachers)</p>
    </section>
  </div>{{!-- .the-tabs --}}

  <div class="main__second">
    <div>
      <button>Questions: Les Wright, The Ring Master</button>
      <a href="#">Click for Tahoe Weather</a>
      {{> molecules-signup }}
    </div>
    <img src="../../images/cameron-venti-I1EWTM5mFEM-unsplash.jpg" alt="tahoe blue vodka bag" />
  </div>
</main>