<main id="race" class="page">
  <img src="../../images/cameron-venti-I1EWTM5mFEM-unsplash.jpg" alt="racers" />
  <section>
    <h1>Nevada Half Marathon</h1>
    <h2>Friday @ 8:15am</h2>
    <p>The Nevada Half Marathon is a boutique down hill half marathon starting at  the top of Spooner Summit, ending on the bike path on Lakeshore Drive about 150 yards before Hwy. 28 in Incline Village. This race is limited to 100 a la carte runners and 200 runners doing the Trifecta (3 Half Marathons in 3-days)  You may run this race a la carte and has a  3-hour and 45 minute  time limit.</p>

    <p>Shuttle buses will take you to the start line, leaving from the Hard Rock Hotel &amp; Casino parking lot on the morning of the race. Post-race transportation is not included, but is available for $12, and leaves Incline between 10 &amp; noon. A support crew is strongly suggested for your transportation needs, encouragement, nutrition and picture taking. There will be at least three Aid Stations along the  route, approximately every 3 or 4 miles. New this year: The new bike trail opened and you will run two miles of it next to the lake off the Hwy. Enter at the aid station at Sand Harbor.</p>

    <p>The Nevada Half is the fastest of the 3 half marathons, with the first 11 miles almost exclusively down hill from the start in the parking lot at the intersection of Hwy. 50 &amp; Hwy. 28, and running north to 557 Lakeshore Blvd in front of the Crystal shores Villas, Incline Village. The finish is 100 yards from the the intersection of H28 and Lakeshore Blvd. The race starts at about 7000' and ends near lake level, near 6250', with incredible views of the lake along the way.</p>

    <p>There is a different finishers medals for each race, each day, and finishers license plate holders. Travel Bags and tech shirts will be given at the Expo only. There is an overall award for each of these races, but no age division or other awards will be given to these boutique races.</p>

    <p>Race bibs will be picked up on Thursday, see Time Line. Or at the start line on Friday at the start line at Spooner Summit Snow Play Area. Parking is limited to the right side when and if are dropped off. Best bet is to take the Shuttle Bus.</p>
  </section>
</main>

<div class="the-tabs">
  <aside>
    <h3>You will receive:</h3>
    <ul class="listed">
      <li>A travel race bag at the Saturday Fitness Expo only.</li>
      <li>All finishers get a beautiful finishers medal.</li>
      <li>All finishers get a license plate holder.</li>
      <li>All registered runners get a beautiful long sleeve shirts at the finish line, which will be great for your winter training runs.</li>
      <li>The first man and women will receive an overall award.</li>
      <li>Aid on the course and finish line.</li>
      <li>Shuttle bus service to the start area.</li>
      <li>Music, hot dogs and drinks at the finish line.</li>
      <li>Ultima Replenisher for on-course and finish line drinks.</li>
    </ul>
  </aside>

  <aside>
    <h3>Transport</h3>
    <p>Free Shuttle Buses will take you from the South Tahoe Transportation Center to the start line at  the snow parking area at Spooner Summit. (H28 &amp; H50 intersection)</p>
    <p>If no one loves you, we have post race buses depart from the north end of Incline Village back to SouthTahoe Transit Center for $12. Reserve ticket on line bring cash to the finish line. If you finish after 12PM noon you will need your own transportation back.</p>
  </aside>

  <aside>
    <h3>Map</h3>
    <img src="../../images/map.jpg" alt="map" />
  </aside>
</div>