<main id="race" class="page">
  <img src="../../images/cameron-venti-I1EWTM5mFEM-unsplash.jpg" alt="racers" />
  {{> molecules-main }}
</main>

<div class="the-tabs">
{{#each tabs }}
  <aside>
    {{> atoms-title }}
    <ul class="listed">
      <li>A travel race bag at the Saturday Fitness Expo only.</li>
      <li>All finishers get a beautiful finishers medal.</li>
      <li>All finishers get a license plate holder.</li>
      <li>All registered runners get a beautiful long sleeve shirts at the finish line, which will be great for your winter training runs.</li>
      <li>The first man and women will receive an overall award.</li>
      <li>Aid on the course and finish line.</li>
      <li>Shuttle bus service to the start area.</li>
      <li>Music, hot dogs and drinks at the finish line.</li>
      <li>Ultima Replenisher for on-course and finish line drinks.</li>
    </ul>
  </aside>
  {{/ each}}
</div>