<menu>
  <li class="nav__races">
    Races {{> atoms-more }}
    <ul>
      <li><a href="#">Nevada Half</a></li>
      <li><a href="#">Carnelian Bay Half</a></li>
      <li><a href="#">Emerald Bay Half</a></li>
      <li><a href="#" class="nav__highlight">The Tahoe Trifecta</a></li>
      <li><a href="#">Lakeside Marathon</a></li>
      <li><a href="#">Cal Neva Marathon</a></li>
      <li><a href="#">Lake Tahoe Marathon</a></li>
      <li><a href="#" class="nav__highlight">The Tahoe Triple</a></li>
      <li><a href="#">4-Person Marathon Relay</a></li>
      <li><a href="#">4-Person 72-Mile Ultra Relay</a></li>
      <li><a href="#">Tahoe Double Marathon</a></li>
      <li><a href="#">Super Hero 5K</a></li>
      <li><a href="#">Edgewood 10K</a></li>
      <li><a href="#">16.4M</a></li>
      <li><a href="#">72M-Ultra Midnight Express</a></li>
      <li><a href="#">Optimist Kids Free Pumpkin Runs</a></li>
    </ul>
  </li>
  <li class="nav__menu">
    Menu {{> atoms-more }}
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Race Swag</a></li>
      <li><a href="#">Details</a></li>
        <ul class="nav__secondary">
          <li><a href="#">Register Now</a></li>
          <li><a href="#">About the Lake Tahoe Marathon</a></li>
          <li><a href="#">Aid Stations</a></li>
          <li><a href="#">Course Map &amp; Elevation Charts</a></li>
          <li><a href="#">First Time Runners</a></li>
          <li><a href="#">History of the Lake Tahoe Marathon</a></li>
          <li><a href="#">Training &amp; Tips</a></li>
        </ul>
      </li>
      <li><a href="#">Time Line of Events</a></li>
      <li><a href="#">Covid-19 Update</a></li>
      <li><a href="#">Multiday Events</a></li>
      <li><a href="#">Expo &amp; Bib Pick Up</a></li>
      <li><a href="#">MOM</a></li>
      <li><a href="#">For Visitors</a></li>
        <ul class="nav__secondary">
          <li><a href="#">Getting Here &amp; Around</a></li>
          <li><a href="#">Rental Car for Lake Tahoe</a></li>
          <li><a href="#">Accommodations</a></li>
          <li><a href="#">Camping</a></li>
          <li><a href="#">Weather</a></li>
          <li><a href="#">Resources &amp; Links</a></li>
          <li><a href="#">Road Delays</a></li>
          <li><a href="#">Restaurant Guide</a></li>
        </ul>
      </li>
      <li>Results</li>
        <ul class="nav__secondary">
          <li><a href="#">Records</a></li>
          <li><a href="#">2021 Results</a></li>
          <li><a href="#">2019 Results</a></li>
          <li><a href="#">2018 Results</a></li>
          <li><a href="#">2017 Results</a></li>
          <li><a href="#">2016 Results</a></li>
          <li><a href="#">2015 Results</a></li>
          <li><a href="#">Past Results</a></li>
        </ul>
      </li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </li>
  <li class="nav__registration">
    Registration {{> atoms-more }}
    <ul>
      <li><a href="#">Register for this year</a></li>
      <li><a href="#">Confirm Registration</a></li>
      <li><a href="#">Change Events</a></li>
      <li><a href="#">Roll over to next year</a></li>
      <li><a href="#">Update your info</a></li>
    </ul>
  </li>
</menu>

<main id="timeline" class="timeline">
  <h1>Small Menu</h1>
  <p>You know what? It is beets. I've crashed into a beet truck. God help us, we're in the hands of engineers. Is this my espresso machine? Wh-what is-h-how did you get my espresso machine? We gotta burn the rain forest, dump toxic waste, pollute the air, and rip up the OZONE! 'Cause maybe if we screw up this planet enough, they won't want it anymore!</p>

<p>They're using our own satellites against us. And the clock is ticking. Yeah, but John, if The Pirates of the Caribbean breaks down, the pirates don’t eat the tourists. Hey, take a look at the earthlings. Goodbye! Do you have any idea how long it takes those cups to decompose.</p>

<p>Must go faster. Remind me to thank John for a lovely weekend. Forget the fat lady! You're obsessed with the fat lady! Drive us out of here! Yeah, but your scientists were so preoccupied with whether or not they could, they didn't stop to think if they should.</p>

<p>Hey, take a look at the earthlings. Goodbye! Hey, take a look at the earthlings. Goodbye! Must go faster... go, go, go, go, go! Hey, you know how I'm, like, always trying to save the planet? Here's my chance. So you two dig up, dig up dinosaurs? Must go faster.</p>

<p>Is this my espresso machine? Wh-what is-h-how did you get my espresso machine? Eventually, you do plan to have dinosaurs on your dinosaur tour, right? Must go faster. You're a very talented young man, with your own clever thoughts and ideas. Do you need a manager?
</p>

</main>