<main id="timeline" class="">
  <h1>2021 Time Line</h1>

  <!-- sections and articles css etc -->
  <section>
    <h2>Week Day Month Date</h2>

    <article>
      <h3>Title</h3>
      <time>Timing</time><!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/time -->
      <p>Description</p>
      <p><a href="">Link</a></p><!-- can I make these buttons? -->
    </article>

  </section>

  <section>
    <h2>Saturday October 30</h2>

    <article>
      <h3>Bus to Sand Harbor for Cal Neva Marathon</h3>
    </article>
  </section>

  <section>
    <h2>Sunday - Halloween Day, October 31</h2>

    <article>
      <h3>Lake Tahoe Double Marathon</h3>
      <p>Custom Start Times</p>
      <p>Start outside Sand Harbor entrance at your custom time. Time your start
        to be at the LT Marathon start time to take advantage of those aid
        stations.</p>
      <p><a href="https://www.laketahoemarathon.com/double">Double Marathon</a></p>
    </article>

  </section>




  <!-- tables. a little more old schoold but with all the css I can probably make it nice -->
    <section>
    <h2>Week Day Month Date</h2>

    <table>
      <thead>
        <tr>
          <td><time>Timing</time><!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/time --></td>
          <td><h3>Title</h3></td>
          <td><p>Description</p></td>
          <td><p><a href="">Link</a></p><!-- can I make these buttons? --></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><time>Custom Start Times</time></td>
          <td><h3>Lake Tahoe Double Marathon</h3></td>
          <td><p>Start outside Sand Harbor entrance at your custom time. Time your start to be at the LT Marathon start time to take advantage of those aid stations.</p></td>
          <td><p><a href="https://www.laketahoemarathon.com/double">Double Marathon</a></p></td>
        </tr>
      </tbody>
    </table>

  </section>

</main>